@using GP.Data.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="acount-box">
        <h2 class="text-center mb-5">Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            <div class="mb-4 text_area">

                <input asp-for="Email" class="form-control text_area " type="email" placeholder="Email" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-4 text_area">

                <input asp-for="NewPassword" class="form-control text_area " type="password" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-4 text_area">

                <input asp-for="ConfirmNewPassword" class="form-control text_area " type="password" placeholder="Confirm New Password" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

        
        <input type="submit" value="Submit" class="Btn" />
        <div class="text-center">
            <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3 .text-content">Back</a>
        </div>
        </form>
    </div>
</div>
